<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <% if @article.title == "Amarylice"%>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <%end%>
  </div>

  <div class="carousel-inner" id="carinerbd">

    <div class="carousel-item active" data-bs-interval="10000" id="caritembud">
      <%= image_tag("#{@article.title}/#{@article.title}3.jpg", alt: "#{@article.title} première image", :class =>"d-block w-100") %>
    </div>

    <div class="carousel-item" data-bs-interval="2000">
          <%= image_tag("#{@article.title}/#{@article.title}2.jpg", alt: "#{@article.title} deuxième image", :class =>"d-block w-100") %>
    </div>

    <div class="carousel-item">
      <%= image_tag("#{@article.title}/#{@article.title}4.jpg", alt: "#{@article.title} troisième image", :class =>"d-block w-100") %>
    </div>

    <% if @article.title == "Amarylice"%>
    <div class="carousel-item">
        <%= image_tag("#{@article.title}/#{@article.title}5.jpg", alt: "#{@article.title} quatrième image", :class =>"d-block w-100") %>
      </div>
      <div class="carousel-item">
        <%= image_tag("#{@article.title}/#{@article.title}6.jpg", alt: "#{@article.title} cinquième image", :class =>"d-block w-100") %>
      </div>
    <%end%>
  </div>

  <button class="carousel-control-prev" id="prevbud" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" id="nextbd" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
